@import '../../styles-library';

.mobile-menu__overlay {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,.7);
    position: absolute;

    .mobile-menu__container {
        padding: 48px 24px;
        background-color: $black;

        .mobile-menu__links {
            display: flex;
            flex-direction: column;

            .mobile-menu__link {
                text-decoration: none;
                color: white;
                margin-bottom: 32px;
                font-size: 24px;
                line-height: 25px;
                letter-spacing: 2px;
                font-weight: 300;
                text-transform: uppercase;
                &:last-of-type {
                    margin-bottom: 0;
                }
            }
        }
    }
}

.hide {
    display: none;
}