@import '../../styles-library';

.design-view__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('../../assets/shared/desktop/bg-pattern-leaf.svg');
    background-repeat: no-repeat;
    background-position: 0% 126px;

    #app__hero,
    #graphic__hero {
        background-image: url('../../assets/app-design/desktop/bg-pattern-intro-app.svg');
        background-position: -60px 50%;
    }

    .design-view__hero-container {
        padding: 64px 95px;
        background-color: $peach;
        margin: 0 165px;
        border-radius: 15px;
        width: 1110px;
        text-align: center;
        color: white;
        background-image: url('../../assets/web-design/desktop/bg-pattern-intro-web.svg');
        background-repeat: no-repeat;
        background-position: 100% 50%;
        .hero__title {
           margin-bottom: 24px; 
        }
        .hero__text {
            margin: 0 260px;
        }
    }

    .design-view__demo-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 30px;
        grid-row-gap: 32px;
        height: 988px;
        width: 1110px;
        margin: 160px 165px;

        .design__grid-item {
            border-radius: 15px;


            .design__grid-image {
                height: 320px;
                border-radius: 15px 15px 0 0;
                background-repeat: no-repeat;
                background-size: contain;
                
            }
    
            #express {
                background-image: url('../../assets/web-design/desktop/image-express.jpg');
            }
            #transfer {
                background-image: url('../../assets/web-design/desktop/image-transfer.jpg');
            }
            #photon {
                background-image: url('../../assets/web-design/desktop/image-photon.jpg');
            }
            #builder {
                background-image: url('../../assets/web-design/desktop/image-builder.jpg');
            }
            #blogr {
                background-image: url('../../assets/web-design/desktop/image-blogr.jpg');
            }
            #camp {
                background-image: url('../../assets/web-design/desktop/image-camp.jpg');
            }
            #airfilter {
                background-image: url('../../assets/app-design/desktop/image-airfilter.jpg');
            }
            #eyecam {
                background-image: url('../../assets/app-design/desktop/image-eyecam.jpg');
            }
            #faceit {
                background-image: url('../../assets/app-design/desktop/image-faceit.jpg');
            }
            #loop {
                background-image: url('../../assets/app-design/desktop/image-loopstudios.jpg');
            }
            #todo {
                background-image: url('../../assets/app-design/desktop/image-todo.jpg');
            }
            #brown {
                background-image: url('../../assets/graphic-design/desktop/image-change.jpg');
            }
            #water{
                background-image: url('../../assets/graphic-design/desktop/image-boxed-water.jpg');
            }
            #science {
                background-image: url('../../assets/graphic-design/desktop/image-science.jpg');
            }
            
            .design__grid-info {
                padding: 32px 48px;
                background-color: $pale-peach;
                border-radius: 0 0 15px 15px; 
                text-align: center;
                transition: background-color 0.3s, color 0.3s;
                cursor: pointer;

                &:hover {
                    background-color: $peach;
                }

                .grid-info__title {
                    margin: 0;
                    color: $peach;
                    margin-bottom: 16px;
                }
                .grid-info__text {
                    margin: 0;
                }

                &:hover .grid-info__text,
                &:hover .grid-info__title {
                    color: white;
                }

                &:hover ~ .design-grid__image {
                    background-size: 110%;
                }
            }
        }
    }

    .design-view__designs-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 30px;
        height: 308px;
        width: 1110px;
        margin: 0 165px 88px;

        #app-design {
            background-image: url('../../assets/home/desktop/image-app-design.jpg');
        }
        #graphic-design {
            background-image: url('../../assets/home/desktop/image-graphic-design.jpg');
        }
        #web-design {
            background-image: url('../../assets/home/desktop/image-web-design-small.jpg');
        }

        .designs__grid-item {
            border-radius: 15px;
            color: white;
            text-decoration: none;
            background-repeat: no-repeat;
            cursor: pointer;

            .designs-grid__background {
                background-color: rgba(0,0,0,.6);
                height: 100%;
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                border-radius: 15px;
                transition: background-color 0.3s;

                &:hover {
                    background-color: rgba(231,129,107,.85);
                }
            }

            .designs-grid__title {
                text-transform: uppercase;
                margin-bottom: 24px;
            }
            .designs-grid__link {
                font-size: 15px;
                line-height: 22px;
                text-transform: uppercase;
                letter-spacing: 5px;
                margin: 0;

                .designs-grid__arrow {
                    margin-left: 21px;
                }
            }
            
        }
    }
}

#single__grid {
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    height: 478px;
}

// ============================
// TABLET
// ============================

@media only screen and (max-width: 1024px) {

    .design-view__container {
        background-image: none;
        
        .design-view__hero-container {
            padding: 64px 0;
            width: 689px;
            margin: 0 40px;

            .hero__text {
                margin: 0 auto;
                width: 350px;
            }
        }

        .design-view__demo-container {
            display: grid;
            grid-template-columns: 1fr;
            grid-row-gap: 32px;
            width: 689px;
            height: auto;
            margin: 120px auto 0px;

            .design__grid-item {
                height: 310px;
                display: flex;
                justify-content: center;

                .design__grid-image {
                    width: 50%;
                    height: 310px;
                    border-radius: 15px 0 0 15px;
                    margin: 0;
                    background-size: cover;
                    background-position: center;
                }
                .design__grid-info {
                    width: 50%;
                    border-radius: 0 15px 15px 0;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }
            }
            
        }

        .design-view__designs-container {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(2, 200px);
            grid-column-gap: 0px;
            grid-row-gap: 25px;
            width: 689px;
            height: auto;
            margin: 120px 40px 36px;

            .designs__grid-item {
                background-size: cover;
            }
        }
    }

    #single__grid {
        display: grid;
        grid-template-rows: repeat(1, 1fr);
        height: auto;
    }
}


// ============================
// MOBILE
// ============================

@media only screen and (max-width: 425px) {
    .design-view__container {
        .design-view__hero-container {
            padding: 105px 24px;
            width: 100%;
            margin: 0;
            border-radius: 0;

            .hero__title {
               font-size: 32px;
               line-height: 36px; 
            }

            .hero__text {
                margin: 0 auto;
                width: 350px;
            }
        }

        .design-view__demo-container {
            grid-row-gap: 40px;
            width: 327px;
            height: auto;
            margin: 120px auto 0px;

            .design__grid-item {
                height: auto;
                display: block;

                .design__grid-image {
                    width: 100%;
                    height: 320px;
                    border-radius: 15px 15px 0 0;
                    margin: 0;
                }

                .design__grid-info {
                    width: 100%;
                    border-radius: 0 0 15px 15px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    padding: 32px 40px;
                }
            }
        }

        .design-view__designs-container {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(2, 250px);
            grid-column-gap: 0px;
            grid-row-gap: 24px;
            width: 327px;
            height: auto;
            margin: 120px auto -69px;

            .designs__grid-item {
                background-size: cover;

                .designs-grid__title {
                    font-size: 28px;
                    line-height: 36px;
                    margin-bottom: 12px;
                }
            }
        }

    }
}