@import '../../styles-library';

.location-view__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .location-view__grid {
        display: grid;
        box-sizing: border-box;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 30px;
        grid-row-gap: 32px;
        width: 1110px;
        height: 1042px;
        margin: 0 165px;
        margin-bottom: 88px;

        .location-view__au-information,
        .location-view__ca-information,
        .location-view__uk-information {
            padding: 90px 95px;
            background-color: $pale-peach;
            border-radius: 15px;
            background-image: url('../..//assets/shared/desktop/bg-pattern-two-circles.svg');
            background-repeat: no-repeat;
            background-position: 0% 100%;

            .location-view__title {
                color: $peach;
                margin: 0 0 24px 0;
            }
            .location-view__contact-information {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-column-gap: 30px;
                grid-template-rows: 1fr;

                .location-view__information {
                    margin: 0;
                }
            }
        }

        .location-view__ca-information {
            grid-area: 1/1/2/3;
        }
        .location-view__ca-map {
            grid-area: 1/3/2/4;
            background-image: url('../../assets/locations/desktop/image-map-canada.png');
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 15px;
        }
        .location-view__au-information {
            grid-area: 2/2/3/4;
        }
        .location-view__au-map {
            grid-area: 2/2/3/4;
            grid-area: 2/1/3/2;
            background-image: url('../../assets/locations/desktop/image-map-australia.png');
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 15px;
        }
        .location-view__uk-information {
            grid-area: 3/1/4/3;
        }
        .location-view__uk-map {
            grid-area: 3/3/4/4;
            background-image: url('../../assets/locations/desktop/image-map-united-kingdom.png');
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 15px;
        }
    }
}   


@media only screen and (max-width: 1024px) {

    .location-view__container {
        background-image: none;
        
        .location-view__grid {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(6, auto);
            width: 689px;
            height: auto;

            .location-view__ca-information,
            .location-view__ca-map,
            .location-view__au-information,
            .location-view__au-map,
            .location-view__uk-information,
            .location-view__uk-map {
                grid-area: unset;
            }

            .location-view__ca-map {
                order: 0;
                background-image: url('../../assets/locations/tablet/image-map-canada.png')
            }
            .location-view__ca-information {
                order: 1;
            }
            .location-view__au-map {
                order: 2;
                background-image: url('../../assets/locations/tablet/image-map-australia.png')
            }
            .location-view__au-information {
                order: 3;
            }
            .location-view__uk-map {
                order: 4;
                background-image: url('../../assets/locations/tablet/image-map-uk.png');
            }
            .location-view__uk-information {
                order: 5;
            }

            .location-view__ca-map,
            .location-view__au-map,
            .location-view__uk-map {
                height: 326px;
            }

            .location-view__ca-information,
            .location-view__au-information {
                margin-bottom: 90px;
            }

        }
    }
}