@import '../../styles-library';

.footer-view__container {
    padding: 140px 165px 72px;
    background-color: $black;

    .footer-view__bottom-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 40px;
    }

    .footer-view__logo {
        width: 202px;
        height: 27px;
    }
    .footer-view__mobile-links {
        display: none;
    }
    .footer-view__link {
        opacity: .5;
        margin-left: 42px;
        text-decoration: none;
        color: $white;
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: 300;
        &:hover {
            text-decoration: underline;
        }
    }
    .footer-view__social {
        color: $white;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 30px;
        margin-top: 30px;

        .footer-view__contact,
        .footer-view__address {
            opacity: .5;
            margin: 0;
        }
        span,
        .footer-view__contact {
            font-weight: 500;
        }
    }

    .footer-view__social-icons {
        align-self: end;
        text-align: right;

        .footer-view__social-icon {
            margin-left: 16px;
            opacity: 1;
            cursor: pointer;
        }
    }

}

// ========================
// TABLET
// ========================

@media only screen and (max-width: 768px) {
    .footer-view__container {
        padding: 165px 40px 80px;
    }
}

// ========================
// MOBILE
// ========================

@media only screen and (max-width: 425px) {
    .footer-view__container {
        padding: 254px 24px 64px;

        .footer-view__bottom-nav {
            justify-content: center;
            margin-bottom: 35px;

            .footer-view__links {
                display: none;
            }
        }

        .footer-view__mobile-links {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 32px;

            .footer-view__link {
                margin: 0 auto 32px;
            }
        }

        .footer-view__social {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            margin-top: 0;

            .footer-view__address,
            .footer-view__contact {
                margin-bottom: 40px;
            }
        }

        .footer-view__social-icons {
            align-self: unset;
            text-align: center;
    
            .footer-view__social-icon {
                margin: 0 8px 0;
                opacity: 1;
                cursor: pointer;
            }
        }
    }
}